@import "compass/css3";

/* colour styling */

$nuca-yellow: #fff100;
$nuca-dark-grey: #28373B;
$nuca-light-grey: #D3DBE1;

#mystyle{
	color: $nuca-yellow;
	background-color: $nuca-dark-grey;
}

/* end color styling */
